@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;900&family=Roboto:wght@100;400;700;900&display=swap");

body,
html {
    background: #eee;
    color: #222;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
}

strong {
    font-weight: 900;
}

ul {
    list-style: none;
    padding: 0;
}

section {
    max-width: 95%;
    padding: 1.5em 1.5em 1.5em 1.5em;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;

    h2,
    h3 {
        text-align: center;

        span {
            font-weight: 100;
        }
    }

    .list {
        margin: 0;

        .head,
        .building {
            &.head {
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 10px;
                padding: 10px;
                color: #eee;
                background: #222;
            }

            &.building {
                padding: 10px;

                &:nth-child(odd) {
                    background: #eee;
                }
            }

            display: grid;
            grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.3fr;
            justify-content: center;
            align-items: center;

            div {
                text-align: center;
            }
        }
    }

    .footer {
        margin-top: 40px;
    }
}

.totalStats {
    background: #222;
    color: #eee;
    width: 95%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    h2 {
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 20px;
    }

    .list {
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .title {
                text-transform: uppercase;
                font-weight: 400;
            }

            &:nth-child(even) {
                background: #333;
            }
        }
    }
}
